
@{
    ViewData["Title"] = "No Encontrado";
}

<h1>El recurso solicitado no ha sido encontrado, póngase en contacto con el departamento técnico.</h1>

<a asp-action="Index">Click aquí para regresar al inicio.</a>